.form-row.align-items-end
    .form-group.col-7.mb-0
        label.col-form-label(for='price') Price
        input#price.form-control(type='text', placeholder='Price', ng-model='orders.' + side + '.rate')
    .col-5.text-right
        button.btn.btn-light.btn-outline-primary(type='button', ng-click='setToBest("' + side + '", orders.' + side + ')')
            | Best #{side === "SELL" ? "bid" : "ask"}
.form-row.align-items-end.mt-1
    .form-group.col
        label.col-form-label(for='amount') Amount {{exchange.symbol}}
        input#amount.form-control(type='text', placeholder='Amount', ng-model='orders.' + side + '.amount')
.row
    .col.mb-3.text-center
        .btn-group(role='group', aria-label='Percent')
            button.btn.btn-light.btn-outline-primary(
                type='button',
                ng-repeat='portion in [0.25, 0.50, 0.75, 1.00]',
                ng-disabled='!getBestForSide("' + side + '")'
                ng-click='setAmount(orders.' + side + ', portion)'
                ) {{portion*100}}%

.form-row.align-items-end.mt-1
    .form-group.col
        label.col-form-label(for='available', ng-bind='showAvail(orders.' + side + ')')

.form-row.align-items-end
    .form-group.col-9.mb-0
        label.col-form-label(for='total') Total ETH
        input#total.form-control(type='text', placeholder='Price', ng-model='orders.' + side + '.total')
    .col-3.text-right
        button.btn(type='button', ng-disabled='!orders.' + side + '.valid', ng-click='placeOrder(orders.' + side + ')', class=side === "SELL" ? 'btn-danger' : 'btn-success') #{side === 'SELL' ? 'Sell' : 'Buy'}
